.break-button>button {
    width: 2.5rem;
    height: 2.5rem;
    border: none;
    border-radius: 100%;
    box-shadow: 2px 2px 5px gray inset;
    font-weight: bold;
    transition: all ease 0.4s;
    color: #413d3d;
}

.break-button>button:hover {
    background-color: #7070de;
    color: white;
    cursor: pointer;
}

.break-button>button:focus {
    background-color: #7070de;
    color: white;
}