.study {
    background-color: #f9e4c9;
    border: 2px solid transparent;
    box-shadow: 5px 5px 10px #c3bfbf;
    border-radius: 10px;
    overflow: hidden;
}

.study:hover {
    cursor: pointer;
    border: 2px solid #edb873;
}

.study img {
    width: 100%;
}

.study-info {
    padding: 1rem;
    text-align: left;
}

.details {
    color: gray;
}

.study-info>h2 {
    margin: 0;
    padding: 0;
}