.study {
    background-color: antiquewhite;
    box-shadow: 5px 5px 10px #c3bfbf;
    border-radius: 10px;
    overflow: hidden;
    transition: all ease 0.4s;
}

.study:hover {
    transform: scale(1.02);
    cursor: pointer;
}

.study img {
    width: 100%;
}

.study-info {
    padding: 1rem;
    text-align: left;
}

.study-info>h2 {
    margin: 0;
    padding: 0;
}

.study-info>button {
    width: 100%;
    padding: 0.4rem 0;
    border: 2px solid #15157c;
    background-color: #41418b;
    color: white;
    border-radius: 5px;
    transition: all ease 0.4s;
}

.study-info>button:hover {
    background-color: #0c0c6b;
    cursor: pointer;
}