.main {
    display: grid;
    grid-template-columns: 75% 25%;
}

.subject-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    margin: 2rem 5rem;
}

.right-side {
    background-color: bisque;
    padding: 1.5rem;
    height: 100vh;
    position: sticky;
    top: 0;
}

.header-part {
    margin: 2rem 0 0 5rem;
}

.logo-part {
    display: flex;
    align-items: center;
    column-gap: 1rem;
    color: blue;
}

.header-part img {
    width: 2rem;
}

.header-part h3 {
    color: gray;
    margin-top: 0;
}

.break-btn-container {
    display: flex;
    gap: 5px;
}

.std-btn {
    width: 100%;
}