.question {
    background-color: antiquewhite;
    border: 2px solid transparent;
    border-radius: 10px;
    margin: 1rem 0;
    box-shadow: 5px 5px 10px #c3bfbf;
}

.question:hover {
    border: 2px solid #edb873;
}

.question>div {
    padding: 0.5rem 1rem;
}